.support-services {
    min-width: 500px;
}

.support-services-instructions {
    width: 100%;
}

.support-services-instructions .activity-complete-badge {
    margin-bottom: 10px;
}

.support-services-instructions h2 {
    margin-top: 10px;
}

.support-services-instructions .label-print {
    cursor: pointer;
    margin-right: 5px;
}

input.page-submit {
    display: none;
}

ul.support-service-progress {
    
}

ul.support-service-progress li {
    float: left;
    margin: 0;
    border: 1px solid black;
    list-style: none;
    color: #fff;
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-top: -2px;
}

ul.support-service-progress li.selected {
    background-color: green;
}

a.support-service.selected {
    color: green;
}

a.support-service .glyphicon {
    display: none;
}

a.support-service.selected .glyphicon {
    display: inline-block;
}

.service-description-list {
    height: 445px;
    width: 38%;
    margin-top: 5px;
}

.service-description-list button.close {
    margin-top: -17px;
    margin-right: -11px;
}

.services-list {
    height: 400px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 0px;
    -moz-column-gap: 0px;
    column-gap: 0px;
    border: 1px solid #999;
    width: 96%;
    margin-right: 10px;
    padding: 10px;
    margin-top: 40px;
}

@media print {
    .services-list {
        height: auto;
        width: 100%;
        -webkit-column-count: auto;
        -moz-column-count: auto;
        column-count: auto;
        border: 0;
    }
}
