<div class="interactive-instructions hidden-print">
    <p>
        <span class="text-danger"><b>Instructions:</b></span> Click on each service link to see what it provides before moving forward.
    </p>
</div>
<div class="support-service-progress-container clearfix hidden-print">
    <div class="pull-left"><b>Services explored:</b></div>    
    <ul class="support-service-progress clearfix pull-left">
        <% for (var i=0; i < services.length; i++) { %>
            <li></li>
        <% } %>
    </ul>
</div>

<div class="clearfix support-service-content-container">
    <div class="services-list pull-left">
        <% var category = ""; %>
        <% for (var i=0; i < services.length; i++) { %>
            <% var service = services[i]; %>
            <% if (category !== service.category) { %>
                <h4><%= service.category %></h4>
                <% category = service.category; %>
            <% } %>
            <div>
                <a href="#" data-service-id="<%=service.id%>" class="support-service">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <%= service.title %>
                </a>
            </div>
            <div><%= service.phone %></div>
            <div class="visible-print-block"><%= service.description %></div>
            <br />
        <% } %>
    </div>
    <div style="width: 34%;" class="pull-left">
<div class="service-description-list well hidden-print" style="display: none">
    <button type="button" class="close" aria-hidden="true">&times;</button>
    <% for (var i=0; i < services.length; i++) { %>
        <% var service = services[i]; %>
        <div class="description" data-service-description="<%=service.id%>" style="display: none">
            <h5><%= service.title %></h5>
            <div><%= service.description %></div>
        </div>
    <% } %>
</div>    </div>
</div>
        
        
        
