<div class="support-services-instructions">
    <div class="activity-complete-badge">
        <h4>
            <span class="label label-success pull-right">
                Activity Complete
            </span>
            <span class="label label-default label-print pull-right">
                Print
            </span>
        </h4>
        <div class="clearfix"></div>
   </div>
    <p>
        <b>Click on each service link to see what it provides before moving forward.</b>
    </p>
</div>
<div>
    <div class="pull-left">
        <div class="support-service-progress-container">
            <div class="pull-left">Services Explored: </div>    
            <ul class="support-service-progress">
                <% for (var i=0; i < services.length; i++) { %>
                    <li></li>
                <% } %>
            </ul>
        </div>
        <div class="visualclear"></div>
        <div class="services-list">
            <% var category = ""; %>
            <% for (var i=0; i < services.length; i++) { %>
                <% var service = services[i]; %>
                <% if (category !== service.category.name) { %>
                    <h4><%= service.category.name %></h4>
                    <% category = service.category.name; %>
                <% } %>
                <div>
                    <a href="#" data-service-id="<%=service.id%>" class="support-service">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <%= service.title %>
                    </a>
                </div>
                <div><%= service.phone %></div>
                <div class="printonly"><%= service.description %></div>
                <br />
            <% } %>
        </div>
    </div>

    <div class="service-description-list pull-left well" style="display: none">
        <button type="button" class="close" aria-hidden="true">&times;</button>
        <% for (var i=0; i < services.length; i++) { %>
            <% var service = services[i]; %>
            <div class="description" data-service-description="<%=service.id%>" style="display: none">
                <h5><%= service.title %></h5>
                <div><%= service.description %></div>
            </div>
        <% } %>
    </div>
<div>
<div class="clearfix"></div>
